<li>
  <strong><%= course.title %></strong> - 
  <%= course.instructor %> - 
  <%= course.semester %>

  <a href="/courses/<%= course._id %>/edit">Edit</a>

  <form action="/courses/<%= course._id %>/delete" method="POST" style="display:inline;">
    <button type="submit">Delete</button>
  </form>
</li>